{{> head}}
{{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Hello World!!!!!</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, voluptatem ipsam nisi quas facere excepturi 
                aspernatur quos praesentium eos, officia perferendis?
                 Cumque non corrupti explicabo, ducimus commodi voluptates! Molestiae, enim!
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/zorro2.png" class="img-thumbnail">
        </div>
    </div>
{{> footer }}   